
@import "../core/mixins.less";

html {
	
    // 浮动

	.x-left {
		float: left;
	}
	
	.x-right {
		float: right;
	}
	
	.x-middle {
		vertical-align: middle;	
	}
    
    .x-center {
	    margin-left: auto;
	    margin-right: auto;
    }
	
	.x-relative, div.x-relative {
		position: relative;	
	}
	
	.x-absolute, div.x-absolute {
		position: absolute;	
	}

	.x-inline {
		display: inline;	
	}
	
	.x-block {
		display: block;	
	}
	
	.x-inline-block {
		display: inline-block;
	}
	
	.x-hide, div.x-hide{
		display: none;
	}
	
	// plain
	.x-plain, div.x-plain {
		margin: 0;
		padding: 0;
	}
	
    .x-row {
		margin-bottom: 10px;
	}
}

// text
.x-break-word {
	word-wrap: break-word;
	word-break: break-all;
}

// clear
.x-clear {
	.clearfix();
}

// colors

.x-hint {
	color: @hintTextColor;
}

.x-success {
	color: @successTextColor!important;
}

.x-info {
	color: @infoTextColor!important;
}

.x-warning {
	color: @warningTextColor!important;
}

.x-error {
	color: @errorTextColor!important;
}

.x-highlight {
	color: @highlightTextColor!important;
}

.x-blank {
	height: 10px;
	display: block;
	visibility: hidden;
	color: @white;
}

.x-debug {
	background: #C03!important;
	color: #fff!important;
}

