html .x-left {
  float: left;
}
html .x-right {
  float: right;
}
html .x-middle {
  vertical-align: middle;
}
html .x-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
html .x-relative {
  position: relative;
}
html .x-absolute {
  position: absolute;
}
html .x-inline {
  display: inline;
}
html .x-block {
  display: block;
}
html .x-inline-block {
  display: inline-block;
}
html .x-hide {
  display: none;
}
.x-clear:after {
  content: " ";
  display: table;
  clear: both;
}
.x-break-word {
  word-wrap: break-word;
  word-break: break-all;
}
.x-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.x-hint {
  color: #999999;
}
.x-info {
  color: #049cdb !important;
}
.x-success {
  color: #5eb95e !important;
}
.x-warning {
  color: #f37b1d !important;
}
.x-error {
  color: #dd514c !important;
}
.x-blank {
  height: 14px;
  display: block;
  visibility: hidden;
  color: #ffffff;
}
