
@import "../core/mixins.less";

html {
    // 浮动
    .x-left {
        float: left;
    }

    .x-right {
        float: right;
    }
    // 居中
    .x-middle {
        vertical-align: middle;
    }

    .x-center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    // 定位
    .x-relative {
        position: relative;
    }

    .x-absolute {
        position: absolute;
    }
    // 显示
    .x-inline {
        display: inline;
    }

    .x-block {
        display: block;
    }

    .x-inline-block {
        display: inline-block;
    }

    .x-hide {
        display: none;
    }
}

// 清除浮动
.x-clear {
    .clearfix();
}

// 文本
.x-break-word {
    word-wrap: break-word;
    word-break: break-all;
}

.x-ellipsis {
    .text-overflow();
}

// 颜色

.x-hint {
    color: @hint-color;
}

.x-info {
    color: @info-text-color !important;
}

.x-success {
    color: @success-text-color !important;
}

.x-warning {
    color: @warning-text-color !important;
}

.x-error {
    color: @error-text-color !important;
}

// 空隙
.x-blank {
    height: @base-margin;
    display: block;
    visibility: hidden;
    color: @background-color;
}
