

#topbar {
    background-color: #303F9F;
    box-shadow: none;
}

#topbar a:hover, #topbar .x-actived a {
    background-color: #1a237e;
}

#header {
    /*background: #F7F7F7;*/
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 18px;
    background-color: #3F51B5;
    /*background: -moz-linear-gradient(top, #0BA3A4, #15ABAC);
    background: linear-gradient(top, #0BA3A4, #15ABAC);*/
}

#header h1{
    color: #fff;
    font-size: 40px;
}

#header p{
    color: #fff;
    margin-bottom: 2em;
    font-size: 16px;
}

#footer {
    background-color: #1c1c1c;
}

#sidebar {
    border-right: 1px solid #ddd;
    padding-right: 0;
}

#sidebar dd {
    margin: 0;
}

#sidebar dt{
    padding: 0 1em;
    margin: .2em 0;
    border-left: 2px solid #3F51B5;
}

#sidebar dd a{
    display: block;
    color: #616161;
    padding: .1em 1em;
}

#sidebar dd a:hover, #sidebar dd.actived a {
    text-decoration: none;
    background-color: #F2F2F2;
}