.x-closebutton {
  font-size: 20px;
  font-weight: bold;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #414243;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  cursor: pointer;
  float: right;
}
.x-closebutton:hover {
  color: #414243;
  text-decoration: none;
  opacity: 0.4;
}
