.x-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: none;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.3em 1.25em;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #414243;
  outline: 0;
  -moz-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.x-button:hover,
.x-button:focus {
  border-color: #c7c7c7;
  background-color: #c7c7c7;
  text-decoration: none;
}
.x-button:active,
.x-button-actived {
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.15);
}
.x-button[disabled],
.x-button-disabled {
  pointer-events: none;
  border-color: transparent;
  opacity: 0.5;
  box-shadow: none;
  cursor: not-allowed;
}
.x-button-info {
  color: #ffffff;
  background-color: #049cdb;
  border-color: #049cdb;
}
.x-button-info:hover,
.x-button-info:focus {
  background-color: #30c0fb;
  border-color: #30c0fb;
}
.x-button-success {
  color: #ffffff;
  background-color: #5eb95e;
  border-color: #5eb95e;
}
.x-button-success:hover,
.x-button-success:focus {
  background-color: #93d093;
  border-color: #93d093;
}
.x-button-warn {
  color: #ffffff;
  background-color: #e9985e;
  border-color: #e9985e;
}
.x-button-warn:hover,
.x-button-warn:focus {
  background-color: #f2c3a1;
  border-color: #f2c3a1;
}
.x-button-error {
  color: #ffffff;
  background-color: #dd514c;
  border-color: #dd514c;
}
.x-button-error:hover,
.x-button-error:focus {
  background-color: #e98f8c;
  border-color: #e98f8c;
}
.x-button-small {
  padding: 0 0.4em;
}
