
@import "../core/mixins.less";

.x-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: none;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 0.2em 1em; // 相对文本大小
    border: 0;
    background-color: #e6e6e6;
    color: @text-color;
    -moz-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    transition: background-color 300ms ease-out, border-color 300ms ease-out;
}

.x-button:hover, .x-button:focus {
    outline: 0;
    background-color: #c7c7c7;
    border-color: #c7c7c7;
    text-decoration: none;
}

.x-button:active, .x-button-actived {
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, .125);
}

.x-button[disabled], .x-button-disabled {
    pointer-events: none; // 禁止事件，参考 https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
    border-color: transparent;
    opacity: 0.5;
    box-shadow: none;
    cursor: not-allowed; // 由于 pointer-events: none 可能不生效
}

// 色系

.buttonBackgroundColor(@color) {
    background-color: @color;
    color: @background-color;

    &:hover, &:focus {
        background-color: lighten(@color, 15%);
    }
}

.x-button-info {
    .buttonBackgroundColor(@info-text-color);
}

.x-button-success {
    .buttonBackgroundColor(@success-text-color);
}

.x-button-warn {
    .buttonBackgroundColor(@warn-text-color);
}

.x-button-error {
    .buttonBackgroundColor(@error-text-color);
}

// 尺寸
.x-button-large {
    padding: 0.4em 1em;
    font-size: @base-font-size + 4px;
}

.x-button-small {
    padding: 0 0.3em;
}

.x-button-plain {
    background: none;
    border-color: transparent;
    box-shadow: none;
}

// 块级按钮
.x-button-block {
    margin-bottom: @base-margin;
    width: 100%;
}
