.x-button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.1em 1em;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #444;
}
.x-button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.x-button:hover,
.x-button:focus {
  outline: 0;
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  text-decoration: none;
}
.x-button:active,
.x-button .x-button-actived {
  background-image: none;
  -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, .125);
  -moz-box-shadow: inset 0 1px 8px rgba(0, 0, 0, .125);
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, .125);
}
.x-button[disabled],
.x-button.x-button-disabled,
fieldset[disabled] .x-button {
  pointer-events: none;
  border-color: transparent;
  cursor: not-allowed;
  opacity: 0.45;
  box-shadow: none;
}
.x-button-large {
  padding: 0.4em 1em;
  font-size: 18px;
}
.x-button-small {
  padding: 0 0.5em;
}
.x-button-hint,
.x-button-hint:hover,
.x-button-success,
.x-button-success:hover,
.x-button-info,
.x-button-info:hover,
.x-button-warning,
.x-button-warning:hover,
.x-button-error,
.x-button-error:hover,
.x-button-highlight,
.x-button-highlight:hover,
.x-button-alt:hover,
.x-button-alt:active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.x-button-hint {
  background-color: #262626;
  border-color: #262626;
}
.x-button-hint:hover,
.x-button-hint:focus,
.x-button-hint[disabled],
.x-button-hint.x-button-disabled {
  background-color: #454545;
  border-color: #454545;
}
.x-button-success {
  background-color: #51a351;
  border-color: #51a351;
}
.x-button-success:hover,
.x-button-success:focus,
.x-button-success[disabled],
.x-button-success.x-button-disabled {
  background-color: #62c462;
  border-color: #62c462;
}
.x-button-info {
  background-color: #2f96b4;
  border-color: #2f96b4;
}
.x-button-info:hover,
.x-button-info:focus,
.x-button-info[disabled],
.x-button-info.x-button-disabled {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.x-button-warning {
  background-color: #f89406;
  border-color: #f89406;
}
.x-button-warning:hover,
.x-button-warning:focus,
.x-button-warning[disabled],
.x-button-warning.x-button-disabled {
  background-color: #fbb450;
  border-color: #fbb450;
}
.x-button-error {
  background-color: #bd362f;
  border-color: #bd362f;
}
.x-button-error:hover,
.x-button-error:focus,
.x-button-error[disabled],
.x-button-error.x-button-disabled {
  background-color: #ee5f5b;
  border-color: #ee5f5b;
}
button.x-button,
input.x-button {
  *padding: 4px 5px 0;
}
button.x-button-large,
input.x-button-large {
  *padding-top: 7px;
  *padding-bottom: 5px;
}
button.x-button-small,
input.x-button-small {
  *padding-top: 1px;
}
.x-button-plain {
  background: none;
  color: #333333;
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
