/**
 * 演示系统样式表 
 */

/**********************************************
 * 全局统一样式
 **********************************************/

header.demo, footer.demo, div.demo, h1.demo, h2.demo, h3.demo, h4.demo, h5.demo, h6.demo, p.demo, ul.demo, ol.demo, dl.demo, table.demo, blockquote.demo, span.demo, a.demo {
    font-size: 14px;
    line-height: 150%;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
}

section.demo, article.demo, h1.demo, h2.demo, h3.demo, h4.demo, h5.demo, h6.demo, p.demo, ul.demo, ol.demo, dl.demo, table.demo, hr.demo, blockquote.demo, img.demo, pre.demo {
    margin: 14px 0;
}

body.demo {
    margin: 0;
    overflow-y: scroll;
    padding: 0 20px;
}

article.demo {
    margin-bottom: 42px;
}

h1.demo, h2.demo, h3.demo, h4.demo, h5.demo, h6.demo {
    font-weight: 600;
}

h1.demo {
    color: #3F529C;
    font-size: 30px;
    border-bottom: 1px solid #E5E5E5;
}

h2.demo {
    color: #4B8B20;
    font-size: 26px;
    border-bottom: 1px solid #eee;
}

h3.demo {
    color: #0E454A;
    font-size: 20px;
}

h4.demo {
    font-size: 16px;
}

h5.demo {
    font-size: 14px;
}

h6.demo {
    font-size: 12px;
}

ul.demo, ol.demo {
    padding: 0;
    list-style-position: inside;
}

    ul.demo li {
        list-style-type: disc;
    }

    ol.demo li {
        list-style-type: decimal;
    }
    
dl.demo dt {
    margin-top: 7px;
    font-weight: 600;
}

dl.demo dd {
    margin-left: 21px;
}

table.demo {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

    table.demo th, table.demo td {
        line-height: 20px;
        text-align: left;
        vertical-align: top;
        border: 1px solid #ddd;
        padding: 5px;
    }

    table.demo th, table.demo thead {
        background-color: #F1F1F1;
        color: #707070;
        line-height: 18px;
        padding: 3px 8px;
    }

    table.demo tr:hover {
        background-color: #F7F7F7;
    }

    table.demo p {
        margin: 0;
    }
    
hr.demo {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E5E5E5;
    border-color: #e5e5e5 -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    height: 0;
    line-height: 0;
}

blockquote.demo {
    background-color: #F8F8F8;
    border: 1px solid #E8E8E8;
    border-left: 3px solid #4B8B20;
    padding: 10px;
}

small.demo {
    margin-left: 10px;
    color: #999999;
    font-weight: normal;
}

a.demo {
    color: #0088CC;
    text-decoration: none;
}

    a.demo:hover {
        color: #005580;
        text-decoration: underline;
    }

pre.demo, code.demo {
    font-family: Monaco, Menlo, Consolas, "Courier New", "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "Hiragino Sans GB", "Hiragino Sans GB W3", monospace;
    background-color: #f8f8f8;
    padding: 2px 4px;
    color: #990000;
}

pre.demo {
    border: 1px solid #e1e1e8;
    white-space: pre-wrap;
    -ms-word-break: break-all;
    word-break: break-all;
    line-height: 18px;
    font-size: 13px;
    padding: 6px;
    color: inherit;
}

pre.demo > code {
    background-color: inherit;
    color: inherit;
    padding: 0;
}

/**********************************************
 * 页面元素
 **********************************************/

/* 示例框 */

aside.demo {
    padding: 10px;
    border: 1px solid #E5E5E5;
    position: relative;
}

aside.demo:before {
    content: "示例";
    font-family: "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
    padding: 0 6px;
    font-size: 10px;
    line-height: 20px;
    color: #bcbcbc;
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
}

html .demo-code-pin {
    margin-top: -1px;
}

/* 复制按钮 */

html .demo-code-toolbar {
    font-size: 10px;
    line-height: 20px;
}

html .demo-code-toolbar a {
    float: right;
    padding: 0 6px;
    display: inline-block;
    color: #bcbcbc;
    border: 1px solid #e1e1e8;
    border-width: 0 0 1px 1px;
    text-decoration: none;
}

html .demo-code-toolbar a:hover {
    background-color: #0e90d2;
    color: #fff;
    text-decoration: none;
}

/* 语法 */
.demo-sh-comment {
    color: #93a1a1;
}

.demo-sh-literal {
    color: #195f91;
}

.demo-sh-punctuation, .demo-sh-leftbracket, .demo-sh-rightbracket {
    color: #93a1a1;
}

.demo-sh-function {
    color: #dc322f;
}

.demo-sh-string, .demo-sh-attrvalue {
    color: #D14;
}

.demo-sh-keyword, .demo-sh-tag {
    color: #1e347b;
}

.demo-sh-type, .demo-sh-attrname, .demo-sh-declaration, .demo-sh-var {
    color: teal;
}

.demo-sh-plain {
    color: #48484c;
}

/* 工具条 */
html .demo-toolbar {
    font-size: 12px;
    line-height: 22px;
    float: right;
    color: #999999;
}

    html .demo-toolbar a {
        color: #333333;
        text-decoration: none;
    }

        html .demo-toolbar a:hover {
            text-decoration: underline;
        }
        
/**********************************************
 * 全局样式
 **********************************************/

html .demo-warning {
    color: #b94a48;
    background-color: #F8E6E6;
    border: 1px solid #e3b7b7;
}

html .demo-info {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #9bcc9c;
}

html .demo-box, html .demo-box-small, html .demo-box-large {
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    line-height: 80px;
    display: inline-block;
    background-color: #E95C41;
    color: #ffffff;
    vertical-align: top;
}

html .demo-box-small {
    height: 40px;
    width: 40px;
    line-height: 40px;
}

html .demo-box-large {
    height: 200px;
    width: 200px;
    line-height: 200px;
}

html .demo-red {
    background-color: #9d261d;
    color: #fff;
}

html .demo-yellow {
    background-color: #f89406;
    color: #fff;
}

html .demo-green {
    background-color: #B4B900;
    color: #fff;
}

html .demo-blue {
    background-color: #90D9E8;
    color: #000;
}
