
#doc_header .doc-container{
    text-align: center;
}

#doc_header  h1 {
    margin: 1.5em 0 0;
}

#doc_header h1 img {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 14px;
}

#doc_header h2 {
    font-weight: 500;
    font-size: 30px;
    margin: 0.4em 0 1.4em;
}

#doc_header .btn {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 6px 14px;
}

#doc_header .btn:hover {
    background-color: #fff;
    color: #673AB7;
}

#doc_header p {
    margin: 10px 0;
    font-size: 12px;
}