.x-panel {
  background: #ffffff;
  border: 1px solid #dddddd;
  margin-bottom: 1em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.x-panel:last-child {
  margin-bottom: 0;
}
.x-panel-header,
.x-panel-footer {
  background-color: #F7F7F7;
  line-height: 150%;
  padding: 4px 8px;
}
.x-panel-header {
  border-bottom: 1px solid #dddddd;
}
.x-panel-header h1,
.x-panel-header h2,
.x-panel-header h3,
.x-panel-header h4,
.x-panel-header h5,
.x-panel-header h6 {
  margin: 0;
  color: inherit;
}
.x-panel-footer {
  border-top: 1px solid #dddddd;
}
.x-panel-body {
  padding: 8px;
}
.x-panel-collapsed .x-panel-header {
  border-bottom: 0;
}
.x-panel-collapsed .x-panel-body {
  display: none;
}
.x-panel-primary {
  border-color: #10a0ea;
}
.x-panel-primary .x-panel-header {
  background-color: #0e90d2;
  border-color: #10a0ea;
  color: #fff;
}
.x-panel-primary .x-panel-header a {
  color: #fff;
}
.x-panel-danger {
  border-color: #f5cecd;
}
.x-panel-danger .x-panel-header {
  background-color: rgba(221, 81, 76, 0.15);
  border-color: #f5cecd;
  color: #dd514c;
}
