@import "../../styles/core/mixins.less";

.x-panel {
    background: @white;
    border: 1px solid @borderColor;
    margin-bottom: @gridMargin;
}

.x-panel-header {
    background-color: #F7F7F7;
    border-bottom: 1px solid #CCCCCC;
    padding: @gridPadding / 2 @gridPadding;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

}

.x-panel-body {
    padding: @gridPadding / 2 @gridPadding;
}

// ÕÛµþÐ§¹û
.x-panel-collapsed {

    .x-panel-header {
        border-bottom: 0;
    }
    
    .x-panel-body {
        display: none;
    }

}
