.x-panel {
  background: #ffffff;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}
.x-panel-header {
  background-color: #F7F7F7;
  border-bottom: 1px solid #CCCCCC;
  padding: 5px 10px;
}
.x-panel-header h1,
.x-panel-header h2,
.x-panel-header h3,
.x-panel-header h4,
.x-panel-header h5,
.x-panel-header h6 {
  margin: 0;
}
.x-panel-body {
  padding: 5px 10px;
}
.x-panel-collapsed .x-panel-header {
  border-bottom: 0;
}
.x-panel-collapsed .x-panel-body {
  display: none;
}
