<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="module-info" content="status=plan" />
    <title>测试组件</title>

    <!-- 以下是本组件的全部源码 -->
    <link rel="stylesheet" type="text/css" href="../../../src/styles/core/base.css" />
    <link rel="stylesheet" type="text/css" href="tpl.css" />

    <!-- 以下代码仅用于演示 -->
    <script type="text/javascript" src="~/devtools/demo/demo.js"></script>
</head>
<body class="demo">

    <blockquote class="demo">本组件提供了什么。</blockquote>

    <aside class="demo">
        Test
    </aside>

</body>
</html>
