.x-textbox {
  padding: 0.3em 0.6em;
  border: 1px solid #ccc;
  background-color: #ffffff;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.x-textbox:hover,
.x-textbox:focus {
  border-color: rgba(82, 168, 236, 0.8);
}
.x-textbox:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.x-textbox[disabled],
.x-textbox[readonly] {
  box-shadow: none !important;
  background-color: #efefef;
}
textarea.x-textbox {
  width: 600px;
  height: 150px;
}
.x-textbox-success,
.x-textbox-success:hover,
.x-textbox-success:focus {
  border-color: #5eb95e;
}
.x-textbox-success:focus {
  box-shadow: 0 0 6px #a5d8a5;
}
.x-textbox-warn,
.x-textbox-warn:hover,
.x-textbox-warn:focus {
  border-color: #f37b1d;
}
.x-textbox-warn:focus {
  box-shadow: 0 0 6px #f8b47e;
}
.x-textbox-error,
.x-textbox-error:hover,
.x-textbox-error:focus {
  border-color: #dd514c;
}
.x-textbox-error:focus {
  box-shadow: 0 0 6px #eda4a2;
}
