<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" /><meta name="module-info" content="status=complete">
    <title>关闭按钮</title>

    <link rel="stylesheet" type="text/css" href="../../../src/styles/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../../src/styles/part/closebutton.css" />

    <script type="text/javascript" src="../../../devtools/demo/demo.js"></script>
</head>
<body>

    <article class="demo">

        <aside class="demo">
            <a class="x-closebutton">×</a>
            →_→
        </aside>

    </article>

</body>
</html>
