<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="module-info" content="status=release">
    <title>图标</title>
    <link rel="stylesheet" type="text/css" href="../../../src/styles/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../../src/styles/partial/icon.css" />
    <link rel="stylesheet" type="text/css" href="../../../src/styles/partial/iconex.css" />
    <script type="text/javascript" src="../../../devtools/demo/demo.js"></script>
    <style>
        #list li {
            width: 260px;
            float: left;
            list-style: none;
            line-height: 24px;
        }
    </style>
</head>
<body class="demo">
    <blockquote class="demo">本组件提供图标。图标由 <a target="_blank" href="http://icomoon.io/app/">IcoMoon</a> 提供，原理上使用字体实现。</blockquote>

    <script type="text/html" class="demo">
        <a href="###"><i class="x-icon">&#61446;</i>你好</a>
        <a href="###"><i class="x-icon x-icon-spin">&#61712;</i>你好</a>
    </script>
    
    <script>
        document.write('<ul id="list" class="demo-clear">');
        document.write('<li><i class="x-icon">　</i>empty:<code class="demo">&amp;#' + '　'.charCodeAt(0) + ';</code></li>');
        
        for (var i = 0; i < document.styleSheets.length; i++) {
            if (/iconex/.test(document.styleSheets[i].href)) {
                var iconex = document.styleSheets[i];
                for (var j = 0; j < iconex.cssRules.length; j++) {
                    iconex.cssRules[j].cssText.replace(/\.x-icon-(\w+)::?before\s*\{\n?\s*content:\s*['"]\\?(.+)['"]\s*;\s*\}/g, function (all, name, unicode) {
                        unicode = parseInt(unicode, 16) || unicode.charCodeAt(0);
                        document.write('<li><i class="x-icon">' + String.fromCharCode(unicode) + '</i>' + name + ':<code class="demo">&amp;#' + unicode + ';</code></li>');
                    });

                }
            }
        }

        document.write('</ul>');
    </script>

</body>
</html>
