<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="module-info" content="status=obsolete" />
		<title>滚动条</title>
		
        <link rel="stylesheet" type="text/css" href="../../../src/styles/core/base.css" />
        <link rel="stylesheet" type="text/css" href="../../../src/styles/partial/scrollbar.css" />
        
        <script type="text/javascript" src="../../../src/core/core.js"></script>
        <script type="text/javascript" src="../../../src/dom/core.js"></script>
        <script type="text/javascript" src="../../../src/styles/core/base.js"></script>
		<script type="text/javascript" src="../../../src/styles/partial/scrollbar.js"></script>
		
		<script type="text/javascript" src="../../../devtools/assets/demo.js"></script>
	</head>
	<body class="demo">

        <article class="demo">

            <aside class="demo">
                
            </aside>

        </article>
		
	</body>
</html>